.bg-dark{
	background-color: #17252A !important;
}
.navbar-brand{
	font-weight: bold;
	font-family: monospace;
	font-size: 25px;
}
.nav-dark .navbar-nav .nav-item{
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
}
.navbar-dark .navbar-nav .nav-item{
	margin: 0 15px;
}
.d-block{
	width: 100px;
	height: 100vh;
}
.carousel-caption h5{
	color: blue;
	font-weight: bold;
	font-size: 20px;
	font-family: monospace;
}
.carousel-caption p{
	color: #04204a;
}
/*home style*/
.coverimage{
	min-height: 100%;
	min-width: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	overflow-y: hidden;
	overflow-x: hidden;
}
/*home style*/
/*about us style*/
.aboutus{
	padding: 55px 0;
	text-align: center;
	background-color: #04204a1a;
}
.aboutus h1{
	font-size: 45px;
	margin-bottom: 55px;
	color: #04204a;
}
.aboutus p{
	font-size: 18px;
	color: #04204a;
}

/*about us style*/
/*services Style
.services{
	padding: 55px 0;
	text-align: center;
	background-color: #04204a;
}
.services h1{
	font-size: 45px;
	margin-bottom: 55px;
	color: #fff;
}
.services .card{
    border: 1px solid #0062cc;
}
.services .card-body{
	padding: 1.25rem .9rem;
	background-color: #061a37;
}
.services .card-body .card-title{
	color: #fff;
	font-weight: 700;

}
.services .card-body .card-text{
	color: #fff;
}
.services .btn-primary{
	color: #fff;
	background-color: #04204a;
	border-color: #0062cc;
}
.services .btn-primary:hover{
	color: #fff;
	background-color: #0062cc;
	border-color: #0062cc;
}
services Style*/
/*Projects Style*/
.projects{
	padding: 55px 0;
	text-align: center;
	background-color: #03193B;
}
.projects h1{
	font-size: 45px;
	margin-bottom: 55px;
	color: #fff;
}
.projects .card{
    border: 1px solid #0062cc;
}
.projects .card-body{
	padding: 1.25rem .9rem;
	background-color: #061a37;
}
.projects .card-body .card-title{
	color: #fff;
	font-weight: 700;

}
.projects .card-body .card-text{
	color: #fff;
}
.projects .btn-primary{
	color: #fff;
	background-color: #04204a;
	border-color: #0062cc;
}
.projects .btn-primary:hover{
	color: #fff;
	background-color: #0062cc;
	border-color: #0062cc;
}
/*Projects Style*/
/*footer style*/

/*footer style*/
/*copyright style*/
.copyright{
	height: 40px;
	background-color: #061a37;
	line-height: 40px;
}
.copyright p{
	margin-bottom: 0;
	color: #ffffff;
	text-align: center;
}
/*copyright style*/